*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; /* выравниваем контент по центру окна */
  justify-content: center;
  align-items: center;

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content{
  display: grid; /* задаём сетку */
  grid-template-columns: 711px 399px; /* размеры как в макете */
  column-gap: 30px; /* отступ между колонками */
  align-items: end; /* прижимаем элементы к нижней границе */
}
/* Левая часть (видео + форма) */
.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  inline-size: 711px;
}

/* Правая часть (заголовок + карточки) */
.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 399px;
  block-size: 100%;
  justify-content: start;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}


ul,
ol {
  list-style: none;
}

/* Видео-контейнер */
.result__video-container {
  block-size: 394px; /* высота видео */
  inline-size: 711px; /* ширина как в макете */
  margin-bottom: 30px;
  position: relative; /* для прелоадеров */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* видео заполняет контейнер */
  display: block;
}

/* Контейнер списка карточек */
.content__list-container {
  block-size: 380px; /* фиксированная высота */
  overflow-y: auto; /* вертикальный скролл */
  padding-right: 5px; /* чтобы скролл не накладывался на контент */
}

/* Отступ между элементами списка */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

/* Карточка */
.content__video-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/* Изображение в карточке */
.content__video-card-thumbnail {
  width: 120px;
  height: 68px;
  object-fit: cover;
  object-position: center;
}

/* Описание карточки */
.content__video-card-description-container {
  flex-grow: 1;
}


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
